// @media screen and (max-width: 1024px){
//   body {
//     font-size: 90%;
//   }
// }

// @media screen and (max-width: 768px){
//   body {
//     font-size: 110%;
//   }

//   .navbar {

//     ul {
//       li {
//         text-align: end;

//         a {
//           font-size: 120%;
//         }
//       }
//     }
//   }

//   #pengumuman {

//     ul{
//       li {
//         margin-bottom: 15px;

//       }
//     }
//   }
// }

// @media screen and (min-width: 1025px) and (max-width: 1440px){
//   body {
//     font-size: 110%;
//   }

//   #pengumuman {
//     padding: 30px 90px 0;
//   }
// }

// @media screen and (max-width: 425px){
//   #pengumuman {
//     position: relative;
//     padding: 30px 40px 60px;

//     #pengumuman-item > ul:last-of-type {
//       display: none;
//     }

//     #nav-pagination {
//       position: absolute;

//       bottom: 0;
//       left: 50%;
//       transform: translateX(-50%);
//     }
//   }
// }

// @media screen and (max-width: 375px){
//   #pengumuman {
//     padding: 30px 30px 60px;

//     h2 {
//       text-align: center;
//     }
//   }
// }

// @media screen and (max-width: 320px){
//   #pengumuman {
//     font-size: 90%;
//   }
// }

@media screen and (min-width: 320px){
  .navbar {
    text-align: end;
  }

  #pengumuman {
    position: relative;
    padding: 15px 8px 40px;

    font-size: 90%;
  }

  #pengumuman-header h2, #berita h2 {
    text-align: center;
  }

  #pengumuman-item li {
    margin-bottom: 15px;
  }

  #pengumuman-item > ul:last-of-type {
    display: none;
  }

  #nav-pagination {
    position: absolute;

    width: unset;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .carousel-caption {
    top: 65%;
    h4 {
      font-size: 75%;
      
    }
  }
}

@media screen and (min-width: 375px){
  #pengumuman {
    font-size: 105%;
  }

  .carousel-caption {
    h4 {
      font-size: 90%;
    }
  }
}

@media screen and (min-width: 552px ){
  .carousel-caption h4 {
    font-size: 120%;
  }
}

@media screen and (max-width: 640px){
}

@media screen and (max-width: 767px){
  .event-date {
    padding-top: 0;
    font-size: 80%;
    span:last-of-type {
      line-height: 2px;
    }
  }

  .carousel-caption {
    left: 50%;
    text-align: center;
  }
}

@media screen and (min-width: 768px){
  #pengumuman li {
    font-size: 80%;
  }

  #pengumuman-item > ul:last-child {
    display: block;
  }
}

@media screen and (min-width: 640px){
  .carousel-caption {
    top: 55%;
    left: 50%;
    
    
    h4 {
      font-size: 130%;
    }
  }
}

@media screen and (min-width: 800px){
  #pengumuman li {
    font-size: 90%;
  }

  .carousel-caption {
    left: 45%;
  }
}

@media screen and (min-width: 992px){
  #pengumuman h2, #berita h2 {
    text-align: start;
    font-size: 200%;
  }

  .carousel-caption {
    left: 40%;
  }
}

@media screen and (min-width: 1008px){
  #pengumuman {
    padding: 15px 8px 0;
  }
  
  #pengumuman li {
    font-size: 100%;
  }

  #pengumuman h2 {
    text-align: start;
    font-size: 250%;
  }

  #nav-pagination {
    position: static;

    display: flex;
    flex-direction: column;
    justify-content: center;

    bottom: unset;
    left: unset;
    transform: unset;
  }
}

@media screen and (min-width: 1024px){
  .carousel-caption {
    left: 35%;
  }
}

@media screen and (min-width: 1204px){
  #pengumuman li {
    font-size: 100%;
  }

  .carousel-caption {
    left: 40%;
  }
}

@media screen and (min-width: 1366px){
  .carousel-caption {
    left: 30%;
  }
}