@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');
@import 'placeholders';

.container-fluid {
  padding: 0;
  margin: 0;
}

header {
  position: relative;
}

p {
  margin: 0;
}

.navbar {
  // position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .7);

  .container {
    padding: 10px;
    box-sizing: border-box;
  }

  .fa-bars {
    color: white;
  }

  &-brand img {
    height: 60px;
  }

  .nav-item:hover {
    .nav-link:not(.active) {
      color: lightgrey;
      text-decoration: underline;
    }
  }

  .nav-link:not(.active) {
      color: white;
  }

  .active {
    color: lightgrey;
    pointer-events: none;
  }

  .dropdown-item:hover {
    text-decoration: underline;
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.carousel-img-container {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  filter: sepia(20%);
  box-shadow: 0 0 200px rgba(0, 0, 0, .8) inset;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  
  text-align: left;
  line-height: 10px;
  width: fit-content;
  height: fit-content;

  span {
    display: inline-block;
    padding: 5px 12px;

    background-color: rgba(0, 0, 0, .7);
  }
}

#pengumuman {
  width: 100%;
  height: auto;
  background-color: #F4511E;
  color: #ffecb3;

  margin-bottom: 30px;

  padding: 20px 60px 60px;
  box-sizing: border-box;

  h2 {
    margin-bottom: 20px;
    font-weight: bolder;
  }

  .pagination {
    .page-link {
      font-size: 70%;
      border-radius: 0;
      color: #F4511E;
      border: none;
    }
  }
}

#pengumuman-item {

  li {
    margin-bottom: 5px;
    list-style-type: none;

    a {
      // color: #FCC07F;
      color: #ffecb3;
    }
  }
}

#events {
  h2 {
    margin-bottom: 30px;
  }

  .event-date {
    text-align: center;
    align-items: center;

    .date {
      font-size: 500%;

    }

    .month {
      font-size: 210%;
    }
  }
}

.event-item {
  margin-bottom: 30px;
  
  .hover-preview {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    text-align: center;
    position: relative;
    transition: opacity .3s;

    .hover-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    span {
      color: white;
      display: inline-block;
      transition: transform .3s, opacity .4s;
    }

    span:first-of-type {
      transform: translateY(-100%);
    }

    span:last-of-type {
      transform: translateY(100%);
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid white;
    }
  }
}

.event-preview {

  p {
    margin-bottom: 5px;
  }

  a {
    display: block;
    width: fit-content;
    padding: 5px 10px;
    background-color: black;
    border-radius: 5px;
    color: white;
  }

}

.event-img {
  a {
    display: block;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-position: 50% 50%;

    &:hover {
      .hover-preview {
        opacity: 1;
      }

      span:first-of-type {
        transform: translateY(0);
      }

      span:last-of-type {
        transform: translateY(0);
      }
    }
  }
}

@for $count from 1 through 3 {
  .event-item:nth-of-type(#{$count}){
    .event-img a {
      background-image: url('/images/poster#{$count}.jpg');
      background-size: cover;
    }
  }
}

#berita {
  margin-top: 60px;
  padding-bottom: 70px;
}

.berita-item {
  height: 350px;
  border: 1px solid white;
}

.berita-item-content {
  width: 100%;
  height: 100%;
  color: white;
  // text-align: center;
  position: relative;

  a[class="berita-title"] {
    font-size: 170%;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;

    transform: translate(-50%, -50%);
  }

  .berita-tag, .berita-date {
    width: fit-content;
    padding: 4px 10px;
    font-size: 70%;
    display: inline-block;
    background-color: rgba(255, 255, 255, .3);
    color: white;
    border: 1px solid white;
  }
}

@for $i from 1 through 8 {
  @if $i <= 4 {
    #berita-content > .row:first-of-type {
      .berita-item:nth-child(#{$i}){
        .berita-item-content {
          background-image: url('/images/#{$i}.jpg');
          background-size: cover;
        }
      }
    }
  } @else {
    #berita-content > .row:last-of-type {
      .berita-item:nth-child(#{$i - 4}){
        .berita-item-content {
          background-image: url('/images/#{$i}.jpg');
          background-size: cover;
        }
      }
    }
  }
}

footer {
  background-color: #111;
  box-sizing: border-box;
  height: auto;

  & > div {
    margin-top: 30px;

    & > .row:first-of-type {
      margin-bottom: 50px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 40px;
    background-color: #333;
  }
}

.footer-form {

  input {
    @extend %form-style;
  }

  textarea {
    @extend %form-style;

    height: 150px;
    resize: vertical;
  }

  button {
    background-color: #eee;
    border: none;
    padding: 5px 13px;
    border-radius: 8px;
  }
}

footer .row:first-of-type > .col > .footer-col-content {

  & > h3 {
    font-family: sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
  }

  &:last-child {
    p {
      font-family: sans-serif;
      font-size: 75%;
      color: #999;
      font-weight: lighter;
    }

    span {
      color: white;
    }
  }
}

.footer-col-content {
  height: 100%;
  border-top: 2px solid #999;

  & > h3 {
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 140%;
    text-transform: uppercase;
  }
}

.copyright {
  border-top: .5px solid #555;
  padding: 20px 0;

  color: white;
  h4 {
    font-size: 85%;
  }
}

.pengumuman-item {
  border-bottom: 1px solid lightgrey;
  height: fit-content;
  margin-bottom: 30px;
  padding-bottom: 10px;

  .article-meta {
    line-height: 5px;
    font-size: 80%;

    time {
      color: grey;
    }
  }

  .article-meta > * {
    display: inline-block;
  }

  .read-more {
    display: inline-block;
    font-size: 87%;
    margin-top: 10px;
    
  }
}

@for $count from 1 through 4 {
  .pengumuman-item:nth-of-type(#{$count}){
    .pengumuman-item-img {
      background-image: url('/images/pengumuman#{$count}.jpg');
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      height: 95%;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.event-item {
  border-bottom: 1px solid lightgrey;
  height: fit-content;
  margin-bottom: 30px;
  padding-bottom: 10px;

  .event-meta {
    line-height: 5px;
    font-size: 80%;

    time {
      color: grey;
    }
  }

  .event-meta > * {
    display: inline-block;
  }

  p {
    font-size: 90%;
  }

  .read-more {
    display: inline-block;
    font-size: 87%;
    margin-top: 10px;
    
  }
}

#form-alumni-form {
  overflow: hidden;
}

@for $count from 1 through 4 {
  .event-item:nth-of-type(#{$count}){
    .event-item-img {
      background-image: url('/images/event#{$count}.jpg');
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      height: 95%;
    }
  }
}

.upcoming-event-title {
  background-color: black;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 140%;
  margin-bottom: 0;
}

#upcomingEvents {

  .card {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 5px;
    overflow: visible;
  }

  .card-header {
    padding: 0;
    border: none;
    background-color: transparent;
    height: auto;
  }
  
  h2 {
    background-color: transparent;
    box-sizing: border-box;
    height: auto;
  }

  button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    color: grey;
    padding: 10px;
    font-size: 60%;
    text-align: left;
    border-radius: 4px;
    font-weight: lighter;
  }
}

.article-content p {
  margin-bottom: 20px;
}

.single-title {
  margin-bottom: 15px;
}

.single-img {
  width: 100%;
  
  height: 400px;
  background: url('/images/25.jpg');
  background-size: cover;
  margin-bottom: 20px;
}

.single-meta {
  padding: 7px 10px;
  border-top: 1px dashed lightgrey;
  border-bottom: 1px dashed lightgrey;
  margin-bottom: 20px;

  & > div {
    display: inline-block;
    color: grey;
    margin-right: 10px;
  }

}

.comment-item {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 15px 0;
}

.reply {
  margin-left: 50px;
}

.comment-meta {
  float: right;

  time {
    color: grey;
  }

  button {
    background-color: transparent;
    border: none;
    color: red;
  }
}

.leave-comment-form {
  input {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    width: 45%;
    margin-bottom: 10px;
  }

  textarea {
    padding: 5px 10px;
    display: block;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 100%;
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
  }

  button {
    padding: 10px 15px;
    background-color: grey;
    border: 1px solid grey;
    color: white;
    border-radius: 3px;
    transition: background-color .2s;

    &:hover {
      background-color: black;
      transition: background-color .2s;
    }
  }
}

@for $count from 6 through 8 {
  .r-comment-item:nth-of-type(#{$count - 5}) .r-comment-img {
    background-image: url('/images/#{$count}.jpg');
    background-size: cover;
  }
}

.recent-comments {

  li {
    list-style-type: none;
  }
}

.r-comment-item {
  margin-bottom: 15px;

  h4 {
    font-size: 100%;
    font-weight: bold;
  }

  p {
    font-size: 75%;
  }
}

.author-img {
  width: fit-content;
}

.single-author-info {
  margin-bottom: 20px;
}

.comments {
  h3 {
    margin-bottom: 20px;
  }
}

@import 'media';